.container
    table.table.table-bordered.table-striped.table-condensed.table-hover
        thead
            tr
                th Title
                th Publish Date
            tbody
                tr(ng-repeat="course in courses")
                    td {{course.title}}
                    td {{course.published | date}}
