script(type="text/javascript", src="/vendor/jquery/dist/jquery.min.js")
script(type="text/javascript", src="/vendor/bootstrap/dist/js/bootstrap.min.js")
script(type="text/javascript", src="/vendor/toastr/toastr.js")

script(type="text/javascript", src="/vendor/angular/angular.min.js")
script(type="text/javascript", src="/vendor/angular-resource/angular-resource.min.js")
script(type="text/javascript", src="/vendor/angular-route/angular-route.min.js")

script(type="text/javascript", src="/app/app.js")

script(type="text/javascript", src="/app/main/main.ctrl.js")

script(type="text/javascript", src="/app/common/services/notifier.service.js")
script(type="text/javascript", src="/app/common/services/identity.service.js")

script(type="text/javascript", src="/app/account/services/auth.service.js")
script(type="text/javascript", src="/app/account/services/user.service.js")
script(type="text/javascript", src="/app/account/login.ctrl.js")
script(type="text/javascript", src="/app/account/signup.ctrl.js")
script(type="text/javascript", src="/app/account/profile.ctrl.js")

script(type="text/javascript", src="/app/admin/userIndex.ctrl.js")

script(type="text/javascript", src="/app/courses/courses.service.ctrl.js")
script(type="text/javascript", src="/app/courses/course-list.ctrl.js")
